.bg-blue{
    background-color: #34656d !important;
}
.py-6{
    padding: 110px 0px;
}
.pt-6{
    padding-top: 200px;
}
img {
height: 200px !important; 
width: 100%;
}
#img1{
    height: 100px !important;
}

.bg-soft-black{
    background-color: #000000cf;
}
body{
    font-family: 'Open Sans', sans-serif !important;
    margin-top: -72px !important;
}
.gradient{
    background: linear-gradient(#54b690,#011a14cf) !important;
}
.btn-success{
    border-radius: 50px !important;
}
.btn-secondary{
    border-radius: 50px !important;
}

